<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Selenium.Pages.BaseClass"/>
      <class name="com.seleniumEasy.Test.HomePageNameVerification"/>
      <class name="com.seleniumEasy.Test.TablePageVerifications"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
